@import '~antd/dist/antd.css';
.app {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header,
.footer {
  flex: 0;
  height: 70px;
  background: #ccc;
}

.main {
  flex: 1;
  /* overflow: hidden; */
}
.main:after {
  clear: both;
}

.main_nav {
  float: left;
  width: 200px;
}

.main-right {
  float: left;
  width: 1000px;
  height: 550px;
  border: 1px solid #ccc;
}
